body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.carrito-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

.carrito-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.carrito-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.carrito-item:last-child {
    border-bottom: none;
}

.carrito-item p {
    margin: 0;
    font-size: 16px;
}

.cantidad-buttons {
    display: inline-block;
    margin-top: 10px;
}

.cantidad-buttons form {
    display: inline;
}

.cantidad-buttons button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.cantidad-buttons button:hover {
    background-color: #0056b3;
}

.total-container {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

button[type="submit"], button {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover, button:hover {
    background-color:  #555555a2;
}

button[type="button"] {
    background-color:  #555;
}

button[type="button"]:hover {
    background-color: #555;
}
