* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #333;
    color: white;
}

#logo {
    height: 60px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #cabecera {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    nav ul {
        flex-direction: column; /* Cambia a columna para la navegación */
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
        padding: 0; /* Elimina el padding para una mejor presentación */
        gap: 10px; /* Ajusta el espacio entre los enlaces */
    }

    nav ul li a {
        padding: 10px; /* Ajusta el padding para mejor tacto en móviles */
        text-align: center; /* Centra el texto en cada enlace */
        width: 100%; /* Hace que cada enlace ocupe todo el ancho */
    }
}