
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    gap: 15px; /* Espacio entre los elementos */
}

.filtros label {
    font-weight: bold;
    margin-right: 5px;
}

.filtros select,
.filtros input[type="number"],
.filtros input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px; /* Ancho mínimo para los campos */
    transition: border-color 0.3s;
}

.filtros select:focus,
.filtros input[type="number"]:focus,
.filtros input[type="text"]:focus {
    border-color: #555;
    outline: none;
}

.filtros input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #555;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros input[type="submit"]:hover {
    background-color: #555;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 700; 
    font-size: 2.5em;
}


.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

video {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px 20px;
}


.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.producto button {
    border: none;
    background: none;
    cursor: pointer;
}

.producto img {
    width: 100%; 
    height: auto; 
    max-height:250px; 
    border-radius: 8px;
}  


.producto h4 {
    margin: 15px 0 10px;
    font-size: 1.2em;
    color: #333;
}

.producto p {
    font-size: 1em;
    color: #555;
}


@media (max-width: 1024px) {
    .productos {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr); 
    }

    .producto {
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    .productos {
        grid-template-columns: 1fr; 
    }
}
